<ul id="messages"></ul>
<form action="">
	<input id="m" autocomplete="off" />
	<input type="submit"/>
</form>
<script>
$(function () {
	var socket = io();
	$('form').submit(function(){
		socket.emit('chat message', $('#m').val());
		$('#m').val('');
		return false;
	});
	socket.on('message', function(data) {
		$('#messages').append('<li>' + data + '</li>');
	});
	socket.on('repeater', function(data) {
		$('#messages').append('<li>' + JSON.stringify(data) + '</li>');
	});
});
</script>
