
body { font-family: sans-serif ; padding : 5% }
.cputemp { color: red }
.loadavg,.uptime { color: blue }
th { text-align: left; background-color: black; color: white }
div.left { float : left; padding-right: 2em; }
div.right { float : right; }
div.xmissions { clear: both; }
